* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    
    background-color: #383838;
    box-sizing: border-box;
    }

    



.noVisibility {
    display: none;
}
.visibility {
    display: block;
}